body { font-family: sans-serif; padding:4em }
div#validation { margin-top: 5em }
div#activism  { position: absolute; top: 5em; right:3em; text-align:center; }
abbr[title] { cursor: help }
img { border:0 }
dt { font-weight: bold; font-size: 0.8em }
dd { margin-bottom:1em }
*.ipa { font-family: 'Lucida Sans Unicode', 'Arial', sans-serif }
*.abstract { margin-left: 2em; margin-right: 4em; font-size: smaller;  }
h2 { margin-top: 3em; font-size:120%}
ul.old-publications li { margin:2em; }
